# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
data/*.csv
data/*.zip

# Models
outputs/models/

# macOS
.DS_Store

# VS Code
.vscode/

# Environment variables
.env